@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  word-break: break-all;
}

/** 📝 Article's css **/

/*  Overide article start for prevent layout shift */
.prose > :first-child {
  margin-top: 1.25em !important;
}

/*  for rehype-auto-heading */
.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -0.8em;
  padding-right: 0.5em;
  width: 70%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700 font-normal;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

/*  todolist style */
.prose .contains-task-list {
  list-style-type: none;
  text-indent: -2rem;
}

.prose .task-list-item p input[type='checkbox'] {
  @apply w-[1.2rem] h-[1.2rem] align-middle mr-2;
}

.prose pre {
  @apply border border-gray-200 dark:border-gray-700 py-3 px-0;
}

/* blockquote */
.prose blockquote p::before,
.prose blockquote p::after {
  display: none;
}

/* 💻 Code block */

/* pretty-code (shiki) recommend */
.prose pre > code {
  display: grid;
}

.prose pre::-webkit-scrollbar {
  display: none;
}

/* Fenced Code block - display change on theme switching*/
.light .prose pre[data-theme='dark'],
.light .prose code[data-theme='dark'],
.dark .prose pre[data-theme='light'],
.dark .prose code[data-theme='light'],
.light .prose div[data-rehype-pretty-code-title][data-theme='dark'],
.dark .prose div[data-rehype-pretty-code-title][data-theme='light'] {
  display: none;
}

/* Fenced Code block - word highlight */
.prose span[data-highlighted-chars] {
  @apply bg-green-400 bg-opacity-25;
}
.prose span[data-highlighted-chars][data-chars-id='y'] {
  @apply bg-yellow-400 bg-opacity-25;
}
.prose span[data-highlighted-chars][data-chars-id='b'] {
  @apply bg-blue-400 bg-opacity-25;
}

/* Fenced Code block - with title style*/
.prose div[data-rehype-pretty-code-title] {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}
.prose div[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}

/* Fenced Code block - line number style */
.prose code[data-line-numbers] {
  counter-reset: line;
}

.prose code[data-line-numbers] > span[data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 1.25rem;
  text-align: right;
  color: gray;
}

.prose code[data-line-numbers-max-digits='2'] > span[data-line]::before {
  width: 1.25rem;
}
.prose code[data-line-numbers-max-digits='3'] > span[data-line]::before {
  width: 1.75rem;
}

/* Fenced Code block - line style */
.prose pre span[data-line] {
  @apply inline-block px-4 py-0.5 leading-snug;
}

/* Fenced Code block - line hightlight */
.prose code span[data-highlighted-line] {
  padding-left: calc(1rem - 2px);
  @apply border-l-2 border-y-0 border-transparent border-blue-400 bg-slate-400 dark:border-blue-500 dark:bg-gray-800  bg-opacity-10;
}

/*  inline code block backtick display: none */
.prose :not(pre) > code::before,
.prose :not(pre) > code::after {
  display: none;
}

/*  inline code block style */
.prose :not(pre) > code {
  @apply dark:bg-gray-900 bg-white border border-gray-200 dark:border-gray-700 font-mono text-sm font-normal align-middle py-0.5 px-1 rounded;
}

/** 🖼️ image style **/

/* image caption style */
.prose .image-caption figcaption {
  @apply text-center text-sm text-gray-500 dark:text-gray-400 italic;
}

.prose .image-caption figcaption::before {
  content: '< ';
}

.prose .image-caption figcaption::after {
  content: ' >';
}

/* image zoom  */
/* .prose .image-caption img {
  @apply cursor-zoom-in transition-transform duration-300 ease-in-out transform hover:scale-150;
} */
