@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  word-break: keep-all;
}


/** 📝 Article's css **/

/* 🖌️ Overide article start for prevent layout shift */
.prose > :first-child {
  margin-top: 1.25em !important;
}

/* 🖌️ for rehype-auto-heading */
.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -0.8em;
  padding-right: 0.5em;
  width: 70%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700 font-normal ;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

/* 🖌️ todolist style */
.prose .contains-task-list {
  list-style-type: none;
  text-indent: -2rem;
}

.prose .task-list-item p input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-right: 0.5rem;
  background-color: black
}

/* 🖌️ Code Block highlighting */
@import 'styles/hightlightjs-panda-syntax-mix.css';

.prose pre {
  @apply bg-gray-100 dark:bg-gray-900 border border-gray-200 dark:border-gray-700
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}
