@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  word-break: keep-all;
}


/** 📝 Article's css **/

/* 🖌️ Overide article start for prevent layout shift */
.prose > :first-child {
  margin-top: 1.25em !important;
}

/* 🖌️ for rehype-auto-heading */
.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -0.8em;
  padding-right: 0.5em;
  width: 70%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700 font-normal ;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

/* 🖌️ todolist style */
.prose .contains-task-list {
  list-style-type: none;
  text-indent: -2rem;
}

.prose .task-list-item p input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-right: 0.5rem;
  background-color: black
}

/* 🖌️ Code Block highlighting */
/* @import 'styles/hightlightjs-panda-syntax-mix.css'; */

.prose pre {
  @apply bg-gray-100 dark:bg-gray-900 border border-gray-200 dark:border-gray-700
}

/* 💡Code block - display change on theme switching*/
.light .prose pre[data-theme='dark'], .light .prose code[data-theme='dark'],
.dark .prose pre[data-theme='light'], .dark .prose code[data-theme='light'],
.light .prose div[data-rehype-pretty-code-title][data-theme='dark'],
.dark .prose div[data-rehype-pretty-code-title][data-theme='light'] {
  display: none;
}

/* 💡Code block - with title style*/
.prose div[data-rehype-pretty-code-title] {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}
.prose div[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}

/* 💡 inline code block backtick display: none */
.prose :not(pre) > code::before,
.prose :not(pre) > code::after {
  display: none;
}

/* 💡 inline code block style */
.prose :not(pre) > code{
  @apply bg-gray-100 dark:bg-gray-900 border border-gray-200 dark:border-gray-700 py-1 px-1.5 rounded
}